@model QLDiem.Models.HocSinhDiem


@{
    ViewData["Title"] = "Quản lý điểm";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HocSinhDiem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Điểm 15p
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diem15p)
        </dd>
        <dt class = "col-sm-2">
            Điểm miệng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemMieng)
        </dd>
        <dt class = "col-sm-2">
            Điểm 1 tiết
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diem1Tiet)
        </dd>
        <dt class = "col-sm-2">
            Điểm giữa kì
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemGk)
        </dd>
        <dt class = "col-sm-2">
            ĐIểm học kì
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemthiHk)
        </dd>
        <dt class="col-sm-2">
            Kỳ học
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kyhoc)
        </dd>
        <dt class = "col-sm-2">
            ĐIểm trung bình môn
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemTbm)
        </dd>
        <dt class = "col-sm-2">
            Mã học sinh
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MahocsinhNavigation.MaHs)
        </dd>
        <dt class = "col-sm-2">
            Mã môn
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MamonNavigation.Mamon)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {@Model?.MahocsinhNavigation.MaHs,@Model?.Mamon,@Model?.Kyhoc}) |
    <a asp-action="Index">Back to List</a>
</div>
